{% extends '::base.html.twig' %}

{% block title %}FarmaCyT | Inicio{% endblock %}

{% block navigation %}

<div class="row">
	<div class="large-12 columns">

	  <nav class="top-bar" data-topbar>
		<ul class="title-area">
		  <!-- Title Area -->
		  <li class="name">
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ path('drugstore_principal_homepage') }}"><img src="{{ asset('zurb.foundation/img/logo_farma_blanco.png') }}" height="220" width="170"></a>
			<!--<h1>
			  <a href="#">
				
			  </a>
			</h1>-->
		  </li>
		  <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
		</ul>
	 
		<section class="top-bar-section">
		  <!-- Right Nav Section -->
		  <ul class="right">
			<li class="divider"></li>
			<li class="has-dropdown">
			  <a href="#">Medicamento</a>
			  <ul class="dropdown">
				<li><label>::Acciones::</label></li>
				{% if is_granted('ROLE_ADMIN') %}
				<li><a href="{{ path('drugstore_medicament_add') }}">Agregar</a></li>
				{% endif %}
				<li><a href="{{ path('drugstore_medicament_delete') }}">Retirar</a></li>
				<li><a href="{{ path('drugstore_medicament_transfer') }}">Traspasar</a></li>
				{% if is_granted('ROLE_ADMIN') %}
				<li><a href="{{ path('drugstore_medicament_edit') }}">Rectificar</a></li>
				{% endif %}
			  </ul>
			</li>
			<li class="divider"></li>
			  <li><a href="{{ path('drugstore_medicament_setup_stock') }}">Stock</a></li>
			</li>
			{% if is_granted('ROLE_ADMIN') %}
			<li class="divider"></li>
			  <li><a href="{{ path('drugstore_medicament_reports') }}">Reportes</a></li>
			</li>
			{% endif %}
			<li class="divider"></li>
			<li><a href="{{ path('logout') }}">Cerrar Sesión</a></li>
			
			
		  </ul>
		</section>
	  </nav>
	  <!-- End Top Bar -->
	</div>
  </div>

{% endblock %}

{% block body %}
		<!-- Thumbnails -->
 
			<div class="row">
			
			{% if is_granted('ROLE_ADMIN') %}
            <div align="center" class="large-4 small-6 columns">
              <i class="fi-page-add size-108"></i>
 
              <div class="panel">
				<h5><a href="{{ path('drugstore_medicament_add') }}">Agregar</a></h5>
                <h6 class="subheader">Medicamento</h6>
              </div>
            </div>
            {% endif %}
 
            <div align="center" class="large-4 small-6 columns">
              <i class="fi-page-delete size-108"></i>
              
              <div class="panel">
                <h5><a href="{{ path('drugstore_medicament_delete') }}">Retirar</a></h5>
                <h6 class="subheader">Medicamento</h6>
              </div>
            </div>
			
            <div align="center" class="large-4 small-6 columns">
              <i class="fi-page-export size-108"></i>
 
              <div class="panel">
                <h5><a href="{{ path('drugstore_medicament_transfer') }}">Traspasar</a></h5>
                <h6 class="subheader">Medicamento</h6>
              </div>
            </div>
 
            {% if is_granted('ROLE_ADMIN') %}
            <div align="center" class="large-4 small-6 columns">
              <i class="fi-page-edit size-108"></i>
 
              <div class="panel">
                <h5><a href="{{ path('drugstore_medicament_edit') }}">Rectificar</a></h5>
                <h6 class="subheader">Medicamento</h6>
              </div>
            </div>
			{% endif %}
			
            <div align="center" class="large-4 small-6 columns">
              <i class="fi-widget size-108"></i>
 
              <div class="panel">
                <h5><a href="{{ path('drugstore_medicament_setup_stock') }}">Configurar</a></h5>
                <h6 class="subheader">Stock</h6>
              </div>
            </div>
            
            {% if is_granted('ROLE_ADMIN') %}
            <div align="center" class="large-4 small-6 columns">
              <i class="fi-clipboard-notes size-108"></i>
 
              <div class="panel">
                <h5><a href="{{ path('drugstore_medicament_reports') }}">Reportes</a></h5>
                <h6 class="subheader">Medicamento</h6>
              </div>
            </div>
            {% endif %}
          </div>
		
    <!-- End Thumbnails -->
 
 
    <!-- Managed By --> {#
          <div class="row">
            <div class="large-12 columns">
              <div class="panel">
                <div class="row">
 
                  <div class="large-2 small-6 columns">
                    <i class="fi-clipboard-notes size-72"></i>
                    
                  </div>
 
                  <div class="large-10 small-6 columns">
                    <strong><a href="{{ path('drugstore_medicament_reports') }}">Generar Reportes</a></strong>
 
                    <hr/>Reportes y consultas de medicmentos en existencia.
                  </div>
 
                </div>
              </div>
            </div> #}
 
    <!-- End Managed By -->
 
          </div>
        </div>
      </div>
 {% endblock %}
 
