<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Famácia | Bienvenido{% endblock %}</title>
        {% block stylesheets %}
			<link href="{{ asset('zurb.foundation/css/foundation.css') }}" rel='stylesheet' type='text/css'>
			<link href="{{ asset('zurb.foundation/css/normalize.css') }}" rel='stylesheet' type='text/css'>
			<link href="{{ asset('zurb.foundation/css/foundation.min.css') }}" rel='stylesheet' type='text/css'>
			<link href="{{ asset('icons/foundation-icons.css') }}" rel="stylesheet" >
         {% endblock %}
         <style>
		  
		  .size-72 { font-size: 72px; }
		  .size-108 { font-size: 136px; text-align:center; }
            
		</style>
        
    </head>
    <body>
		
			<div class="row">
				<div class="large-12 columns">
        {% block navigation %}

			 <!-- Navigation -->
			 
				  <div class="row">
					<div class="large-12 columns">
			 
					  <nav class="top-bar" data-topbar>
						<ul class="title-area">
						  <!-- Title Area -->
						  <li class="name">
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#"><img src="{{ asset('zurb.foundation/img/nombre.png') }}" height="220" width="180"></a>
							<!--<h1>
							  <a href="#">
								
							  </a>
							</h1>-->
						  </li>
						  <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
						</ul>
					 
						<section class="top-bar-section">
						  <!-- Right Nav Section -->
						  <ul class="right">
							<li class="divider"></li>
							<li class="has-dropdown">
							  <a href="#">Medicamento</a>
							  <ul class="dropdown">
								<li><label>Acciones</label></li>
								<li><a href="#">Agregar</a></li>
								<li><a href="#">Retirar</a></li>
								<li><a href="#">Traspasar</a></li>
								<li><a href="#">Rectificar</a></li>
							  </ul>
							</li>
							<li class="divider"></li>
							  <li><a href="#">Stock</a></li>
							</li>
							<li class="divider"></li>
							  <li><a href="#">Reportes</a></li>
							</li>
							<li class="divider"></li>
							<li><a href="#">Contactanos</a></li>
							
							
						  </ul>
						</section>
					  </nav>
					  <!-- End Top Bar -->
					</div>
				  </div>
				
		{% endblock %} <!-- End Navigation -->
		
		{% block sidebar %}
		<div class="row">
			<div class="large-3 small-8 columns">

			  <img src="{{ asset('zurb.foundation/img/logoo.png') }}" height="350" width="350">
	 
			  <div class="hide-for-small panel">
				<h3>Header</h3>
				<h5 class="subheader">Aplicación web que permite gestionar el proceso de inventariado de la farmacia aún sin nombre.
				</h5>
			  </div>
	 
		</div>
		{% endblock %}
		
		<div class="large-8 columns">
          
		{% block body %}
		
		{% endblock %}
		
		</div>
    </div>
	<!-- Footer -->
	{% block footer %}
	  <footer class="row">
		<div class="large-12 columns"><hr />
		  <div class="row">
 
			<div class="large-8 columns">
			  <p>© Copyright 2014. Deseñado por Eliecer Uribe.</p>
			</div>
 
		  </div>
		</div>
	  </footer>
	{% endblock %}
	<!-- End Footer --> 
      
    </body>
    {% block javascripts %}
			<script src="{{ asset('zurb.foundation/js/vendor/custom.modernizr.js') }}"></script>
			<script src="{{ asset('zurb.foundation/js/vendor/zepto.js') }}"></script>
			<script src="{{ asset('zurb.foundation/js/foundation.min.js') }}"></script>
		    
			<script>
				$(document).foundation();
			</script>
   {% endblock %}
</html>
