{% extends '::base.html.twig' %}
{% block body %}
	<h1>Agregar <small>Medicamento.</small></h1>
	
	{{ form_start(form) }}
		
		{{ form_errors(form) }}
		<div class="row">
			<div class="large-6 small-6 columns">
			
				{{ form_label(form.inventario, 'Inventario:') }}
				{{ form_errors(form.inventario) }}
				{{ form_widget(form.inventario) }}
			
			</div>
			
			<div class="large-6 small-6 columns">
			
				{{ form_label(form.numSerie, '# de serie:') }}
				{{ form_errors(form.numSerie) }}
				{{ form_widget(form.numSerie, {'attr': {'placeholder': 'Ingrese número de serie de medicamento'}}) }}
			
			</div>
			
		</div>
		<div class="row">
			
			<div class="large-6 small-6 columns">
			
				{{ form_label(form.nombre, 'Nombre:') }}
				{{ form_errors(form.nombre) }}
				{{ form_widget(form.nombre, {'attr': {'placeholder': 'Ingrese nombre de medicamento'}}) }}
			
			</div>
			<div class="large-6 small-6 columns">
			
				{{ form_label(form.precioUnitario, 'Precio unitario:') }}
				{{ form_errors(form.precioUnitario) }}
				{{ form_widget(form.precioUnitario, {'attr': {'placeholder': 'Ingrese precio unitario de medicamento'}}) }}
			
			</div>
		</div>
		<div class="row">
			
			<div class="large-6 small-6 columns">
			
				{{ form_label(form.laboratorio, 'Laboratorio:') }}
				{{ form_errors(form.laboratorio) }}
				{{ form_widget(form.laboratorio, {'attr': {'placeholder': 'Ingrese laboratorio de medicamento'}}) }}
			
			</div>
			<div class="large-6 small-6 columns">
			
				{{ form_label(form.tipoPresentacion, 'Tipo de presentación:') }}
				{{ form_errors(form.tipoPresentacion) }}
				{{ form_widget(form.tipoPresentacion, {'attr': {'placeholder': 'Ingrese presentación de medicamento'}}) }}
			
			</div>
		</div>
		<div class="row">
			
			<div class="large-6 small-6 columns">
			
				{{ form_label(form.numDosis, 'Número de dosis:') }}
				{{ form_errors(form.numDosis) }}
				{{ form_widget(form.numDosis, {'attr': {'placeholder': 'Ingrese número de dosis'}}) }}
			
			</div>
			<div class="large-6 small-6 columns">
			
				{{ form_label(form.numLote, 'Número de lote:') }}
				{{ form_errors(form.numLote) }}
				{{ form_widget(form.numLote, {'attr': {'placeholder': 'Ingrese número de lote de medicamento'}}) }}
			
			</div>
		</div>
		<div class="row">
			
			<div class="large-6 small-6 columns">
			
				{{ form_label(form.fechaEmision, 'Fecha de emisión:') }}
				{{ form_errors(form.fechaEmision) }}
				{{ form_widget(form.fechaEmision) }}
			
			</div>
			<div class="large-6 small-6 columns">
			
				{{ form_label(form.fechaVencimiento, 'Fecha de vencimiento:') }}
				{{ form_errors(form.fechaVencimiento) }}
				{{ form_widget(form.fechaVencimiento) }}
			
			</div>
		</div>
		<div class="row">
			
			<div class="large-6 small-6 columns">
			
				{{ form_label(form.stockMaximo, 'Stock máximo:') }}
				{{ form_errors(form.stockMaximo) }}
				{{ form_widget(form.stockMaximo, {'attr': {'placeholder': 'Ingrese stock máximo'}}) }}
			
			</div>
			<div class="large-6 small-6 columns">
			
				{{ form_label(form.stockMinimo, 'Stock mínimo:') }}
				{{ form_errors(form.stockMinimo) }}
				{{ form_widget(form.stockMinimo, {'attr': {'placeholder': 'Ingrese stock mínimo'}}) }}
			
			</div>
		</div>
		<div class="row">
			
			<div class="large-6 small-6 columns">
			
				{{ form_label(form.PrincipiosActivos, 'Principio(s) activo(s):') }}
				{{ form_errors(form.PrincipiosActivos) }}
				{{ form_widget(form.PrincipiosActivos) }}
			
			</div>
			<div class="large-6 small-6 columns">
			
				{{ form_label(form.cantidad, 'Cantidad:') }}
				{{ form_errors(form.cantidad) }}
				{{ form_widget(form.cantidad, {'attr': {'placeholder': 'Ingrese cantidad del medicamento'}}) }}
			
			</div>
		</div>
		<input type="submit" class="button" value="Submit" />
	
	{{ form_end(form) }}
		
	
{% endblock %}
