{% extends '::base.html.twig' %}
{% block body %}
	<h1>Agregar <small>Medicamento.</small></h1>
	<div class="row">
		<div class="large-6 small-4 columns">
		{{ form_start(form) }}
			{{ form_errors(form) }}

			{{ form_row(form.id) }}

			{{ form_rest(form) }}

			<input type="submit" value="Submit" />
		{{ form_end(form) }}
		</div>
	</div>
{% endblock %}
