{% extends '::base.html.twig' %}

{% block body %}
	<h1>Agregar <small>Medicamento.</small></h1>
	<label style="color:#3366FF;"><b>(*) Específico únicamente para bienes masivos</b></label><br>
	
	{{ form_start(form, {'attr': {'class': 'custom'}}) }}
		
	{{ form_errors(form) }}
		<div class="row">
			<div class="large-6 small-6 columns">
				
				{# <label>Inventario:</label>
				<select id="customDropdown1" name="inventario">
				<option>--Seleccione--</option>
				{% for inventario in inventarios %}
				<option value="{{inventario.id}}">
					{{ inventario.descripcion }}
				</option>
				{% endfor %}
				</select> #}
				{{ form_label(form.inventario, 'Inventario:') }}
				{{ form_errors(form.inventario) }}
				{{ form_widget(form.inventario) }}
			</div>
			
		</div>
		<div class="row">
			
			<div class="large-6 small-6 columns">
			
				{{ form_label(form.nombre, 'Nombre:') }}
				{{ form_errors(form.nombre) }}
				{{ form_widget(form.nombre, {'attr': {'placeholder': 'Ingrese nombre de medicamento'}}) }}
			
			</div>
			<div class="large-6 small-6 columns">
			
				{{ form_label(form.precioUnitario, 'Precio unitario:') }}
				{{ form_errors(form.precioUnitario) }}
				{{ form_widget(form.precioUnitario, {'attr': {'placeholder': 'Ingrese precio unitario de medicamento'}}) }}
			
			</div>
		</div>
		<div class="row">
			
			<div class="large-6 small-6 columns">
			
				{{ form_label(form.laboratorio, 'Laboratorio:') }}
				{{ form_errors(form.laboratorio) }}
				{{ form_widget(form.laboratorio, {'attr': {'placeholder': 'Ingrese laboratorio de medicamento'}}) }}
			
			</div>
			<div class="large-6 small-6 columns">
			
				{{ form_label(form.tipoPresentacion, 'Tipo de presentación:') }}
				{{ form_errors(form.tipoPresentacion) }}
				{{ form_widget(form.tipoPresentacion, {'attr': {'placeholder': 'Ingrese presentación de medicamento'}}) }}
			
			</div>
		</div>
		
		<div class="row">
			
			<div id="stockMax" class="large-6 small-6 columns">
			
				{{ form_label(form.stockMaximo, 'Stock máximo:') }}
				{{ form_errors(form.stockMaximo) }}
				{{ form_widget(form.stockMaximo, {'attr': {'placeholder': 'Ingrese stock máximo'}}) }}
			
			</div>
			<div id="stockMin" class="large-6 small-6 columns">
			
				{{ form_label(form.stockMinimo, 'Stock mínimo:') }}
				{{ form_errors(form.stockMinimo) }}
				{{ form_widget(form.stockMinimo, {'attr': {'placeholder': 'Ingrese stock mínimo'}}) }}
			
			</div>
		</div>
		<div class="row">
			
			<div class="large-6 small-6 columns">
			
				{{ form_label(form.numDosis, 'Número de dosis:') }}
				{{ form_errors(form.numDosis) }}
				{{ form_widget(form.numDosis, {'attr': {'placeholder': 'Ingrese número de dosis'}}) }}
			
			</div>
			<div id="numLote" class="large-6 small-6 columns">
			
				<label><span style="color:#3366FF;"><b>(*)</b></span> Número de lote:</label>
				{{ form_errors(form.numLote) }}
				{{ form_widget(form.numLote, {'attr': {'placeholder': 'Ingrese número de lote de medicamento'}}) }}
			
			</div>
		</div>
		<div class="row">
			
			<div id="fechaE" class="large-6 small-6 columns">
			
				<label><span style="color:#3366FF;"><b>(*)</b></span> Fecha de emisión:</label>
				{{ form_errors(form.fechaEmision) }}
				{{ form_widget(form.fechaEmision) }}
			
			</div>
			<div id="fechaV" class="large-6 small-6 columns">
			
				<label><span style="color:#3366FF;"><b>(*)</b></span> Fecha de vencimiento:</label>
				{{ form_errors(form.fechaVencimiento) }}
				{{ form_widget(form.fechaVencimiento) }}
			
			</div>
		</div>
		<div class="row">
			
			<div id="cantidad" class="large-6 small-6 columns">
			
				{{ form_label(form.cantidad, 'Cantidad:') }}
				{{ form_errors(form.cantidad) }}
				{{ form_widget(form.cantidad, {'attr': {'placeholder': 'Ingrese cantidad del medicamento'}}) }}
			
			</div>
			<div class="large-6 small-6 columns">
			
				{{ form_label(form.PrincipiosActivos, 'Principio(s) activo(s):') }}
				{{ form_errors(form.PrincipiosActivos) }}
				{{ form_widget(form.PrincipiosActivos) }}
			
			</div>
		</div><br>
		<input type="submit" class="small button" value="Aceptar" />
		<a href="{{ path('drugstore_principal_homepage') }}" class="small button">Volver</a>
	
	{{ form_end(form) }}
		
	
{% endblock %}

{% block javascripts %}
	{{ parent() }}
		$(document).ready(function(){
			$('#customDropdown1').click(function(){
				var valor = $('#customDropdown1').val();
				if(valor==1){
					$('div#serie').fadeOut();
					$('div#numLote').fadeOut();
					$('div#fechaE').fadeOut();
					$('div#fechaV').fadeOut();
					$('div#cantidad').fadeOut();
					}
				else
				{
					$('div#serie').show();
					$('div#numLote').show();
					$('div#fechaE').show();
					$('div#fechaV').show();
					$('div#cantidad').show();
				}
			});
		});
	</script>
	
	
{% endblock %}
