{% extends '::base.html.twig' %}

{% block title %}LaFamácia | Baja de medicamento{% endblock %}

{% block sidebar %}
<div class="row">
	<div class="large-3 small-8 columns">

	  <img src="{{ asset('zurb.foundation/img/logoo.png') }}" height="350" width="350">

	  <div class="hide-for-small panel">
		<h3>Descripción</h3>
		<h5 class="subheader">Baja de medicamento, opción que permite desincorporar de inventario un medicamento.
		</h5>
	  </div>
	
</div>
{% endblock %}

{% block body %}
	<h1>Baja <small>de medicamento</small></h1>
	
	{{ form_start(form, {'attr': {'class': 'custom'}}) }}
	
	{{ form_errors(form) }}
	
	<div class="row">
		<div class="large-6 small-6 columns">

			{{ form_label(form.codMedicamento, 'Códog de medicamento:') }}
			{{ form_errors(form.codMedicamento) }}
			{{ form_widget(form.codMedicamento, {'attr': {'placeholder': 'Ingrese código de medicamento'}}) }}
			
			{{ form_label(form.nombreMedicamento, 'Nombre del medicamento:') }}
			{{ form_errors(form.nombreMedicamento) }}
			{{ form_widget(form.nombreMedicamento, {'attr': {'placeholder': 'Ingrese nombre de medicamento'}}) }}
			
			{{ form_label(form.causa, 'Causa:') }}
			{{ form_errors(form.causa) }}
			{{ form_widget(form.causa) }}
			
			{{ form_label(form.cantidad, 'Cantidad:') }}
			{{ form_errors(form.cantidad) }}
			{{ form_widget(form.cantidad, {'attr': {'placeholder': 'Ingrese cantidad a dar de baja'}}) }}
		</div>
	</div><br>
	<input type="submit" class="small button" value="Aceptar" />
	<a href="{{ path('drugstore_principal_homepage') }}" class="small button">Volver</a>
	{{ form_end(form) }}

{% endblock %}

