{% extends '::base.html.twig' %}

{% block title %}FarmaCyT | Generar reportes{% endblock %}

{% block body %}

	<h1 class="fi-magnifying-glass size-45"> Buscar medicamento por:</h1>
	{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
	{{ form_errors(form) }}
	<div class="row">
		<div class="large-6 small-6 columns">
		  {# input type="checkbox" id="form_select1" name="form[select1]"><span class="custom checkbox"></span> #}
		  
		  {{ form_errors(form.select1) }}
		  <label> {{ form_widget(form.select1) }} Todos</label>
		  {{ form_errors(form.select2) }}
		  <label> {{ form_widget(form.select2) }} Agotados</label>
		  {{ form_errors(form.select3) }}
		  <label> {{ form_widget(form.select3) }} Llegaron a stock mínimo</label>
		  <label><input type="checkbox" id="checkbox2"><span class="custom checkbox"></span> Nombre medicamento</label>
		  {{ form_label(form.texto2, ' ')}}
		  {{ form_errors(form.texto2) }}
		  {{ form_widget(form.texto2, {'attr': {'placeholder': 'Escriba aquí'}}) }}
		  <label><input type="checkbox" id="checkbox3"><span class="custom checkbox"></span> Laboratorio</label>
		  {{ form_label(form.texto3, ' ')}}
		  {{ form_errors(form.texto3) }}
		  {{ form_widget(form.texto3, {'attr': {'placeholder': 'Escriba aquí'}}) }}
		  <label><input type="checkbox" id="checkbox4"><span class="custom checkbox"></span> Principio(s) activo(s)</label>
		  {{ form_label(form.texto4, ' ')}}
		  {{ form_errors(form.texto4) }}
		  {{ form_widget(form.texto4, {'attr': {'placeholder': 'Escriba aquí'}}) }}
		  <label><input type="checkbox" id="checkbox5"><span class="custom checkbox"></span> Tipo presentación</label>
		  {{ form_label(form.texto5, ' ')}}
		  {{ form_errors(form.texto5) }}
		  {{ form_widget(form.texto5, {'attr': {'placeholder': 'Escriba aquí'}}) }}
		  <label><input type="checkbox" id="checkbox6"><span class="custom checkbox"></span> Lote</label>
		  {{ form_label(form.texto6, ' ')}}
		  {{ form_errors(form.texto6) }}
		  {{ form_widget(form.texto6, {'attr': {'placeholder': 'Escriba aquí'}}) }}
		  <label><input type="checkbox" id="checkbox7"><span class="custom checkbox"></span> Fecha emisión</label> 
		  {{ form_label(form.texto7, ' ')}}
		  {{ form_errors(form.texto7) }}
		  {{ form_widget(form.texto7, {'attr': {'placeholder': 'Escriba aquí'}}) }}
		  <label><input type="checkbox" id="checkbox8"><span class="custom checkbox"></span> Fecha vencimiento</label> 
		  {{ form_label(form.texto8, ' ')}}
		  {{ form_errors(form.texto8) }}
		  {{ form_widget(form.texto8, {'attr': {'placeholder': 'Escriba aquí'}}) }}
		</div>
    </div><br>
    <input type="submit" class="small button" value="Aceptar" />
    
    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script>
		$(document).ready(function(){
			$('#form_texto2').hide();
			$('#form_texto3').hide();
			$('#form_texto4').hide();
			$('#form_texto5').hide();
			$('#form_texto6').hide();
			$('#form_texto7').hide();
			$('#form_texto8').hide();
			$('#form_texto9').hide();
			$('#form_texto10').hide();
			
			$('#checkbox2').click(function(){
				if($('#checkbox2').is(':checked'))
				{
					$('#form_texto2').show();
				}
				else {
					$('#form_texto2').val('');
					$('#form_texto2').hide();
				}
			});
			
			$('#checkbox3').click(function(){
				if($('#checkbox3').is(':checked'))
				{
					$('#form_texto3').show();
				}
				else {
					$('#form_texto3').val('');
					$('#form_texto3').hide();
				}
			});
			
			$('#checkbox4').click(function(){
				if($('#checkbox4').is(':checked'))
				{
					$('#form_texto4').show();
				}
				else {
					$('#form_texto4').val('');
					$('#form_texto4').hide();
				}
			});
			
			$('#checkbox5').click(function(){
				if($('#checkbox5').is(':checked'))
				{
					$('#form_texto5').show();
				}
				else {
					$('#form_texto5').val('');
					$('#form_texto5').hide();
				}
			});
			
			$('#checkbox6').click(function(){
				if($('#checkbox6').is(':checked'))
				{
					$('#form_texto6').show();
				}
				else {
					$('#form_texto6').val('');
					$('#form_texto6').hide();
				}
			});
			
			$('#checkbox7').click(function(){
				if($('#checkbox7').is(':checked'))
				{
					$('#form_texto7').show();
				}
				else {
					$('#form_texto7').val('');
					$('#form_texto7').hide();
				}
			});
			
			$('#checkbox8').click(function(){
				if($('#checkbox8').is(':checked'))
				{
					$('#form_texto8').show();
				}
				else { 
					$('#form_texto8').val('');
					$('#form_texto8').hide();
				}
			});
			
		});
	</script>
	
	
{% endblock %}
