<h1>Articulo con ID {{ medicamento.id }}</h1>
<ul>
    <li>Titulo: {{ medicamento.nombre }}</li>
    <li>Laboratorio: {{ medicamento.laboratorio }}</li>
    <li>Principios Activos: {{ medicamento.principiosActivos }}</li>
    <li>Miligramos: {{ medicamento.miligramos }}</li>
</ul>
