{% extends '::base.html.twig' %}

{% block title %}FarmaCyT | Traspasar medicamentos(s){% endblock %}

{% block sidebar %}
<div class="row">
	<div class="large-3 small-8 columns">

	  <img src="{{ asset('zurb.foundation/img/logoo.png') }}" height="350" width="350">

	  <div class="hide-for-small panel">
		<h3>Descripción</h3>
		<h5 class="subheader">Traspaso de medicamento, opción que permite cambiar de unidad un medicamento y específicar una cantidad a transferir para venta al público.
		</h5>
	  </div>
	
</div>
{% endblock %}

{% block body %}
	<h1>Traspasar <small>medicamento(s)</small></h1>
	
	{{ form_start(form, {'attr': {'class': 'custom'}}) }}
		
	{{ form_errors(form) }}
	
	<div class="row">
		<div class="large-6 small-8 columns">
			{{ form_label(form.idMedicamento, 'Id Medicamento:') }}
			{{ form_errors(form.idMedicamento) }}
			{{ form_widget(form.idMedicamento) }}
			
			{{ form_label(form.cantidad, 'Cantidad:') }}
			{{ form_errors(form.cantidad) }}
			{{ form_widget(form.cantidad, {'attr': {'placeholder': 'Ingrese cantidad a traspasar'}}) }}
			
			{{ form_label(form.unidadCedente, 'Unidad Cedente:') }}
			{{ form_errors(form.unidadCedente) }}
			{{ form_widget(form.unidadCedente) }}
			
			{{ form_label(form.unidadDestino, 'Unidad Destino:') }}
			{{ form_errors(form.unidadDestino) }}
			{{ form_widget(form.unidadDestino) }}
			
			{{ form_label(form.observaciones, 'Observaciones:') }}
			{{ form_errors(form.observaciones) }}
			{{ form_widget(form.observaciones, {'attr': {'placeholder': 'Detalle información del traspaso'}}) }}
		
		</div>
	</div>
	<input type="submit" class="small button" value="Aceptar" />
	<a href="{{ path('drugstore_principal_homepage') }}" class="small button">Volver</a>
	{{ form_end(form) }}

{% endblock %}

